# --> Environment variables for Flask app <--
# AI model paths
POSITIONS_MODEL_PATH=/static/models/hierarchical_classifier.pkl
PHYSICAL_CONDITIONS_MODEL_PATH=/static/models/kmeans_classifier.pkl
POSITIONS_SCALER_PATH=/static/models/hierarchical_scaler.pkl
PHYSICAL_CONDITIONS_SCALER_PATH=/static/models/kmeans_scaler.pkl

# Flask app configuration
DEBUG=False
HOST=0.0.0.0
PORT=9041

# OpenAI API key
OPENAI_API_KEY=your-openai-api-key-here


# --> Environment variables for Node.js app <--
# Production environment (Azure PostgreSQL)
DB_PROD_HOST=postgres
DB_PROD_PORT=5432
DB_PROD_USERNAME=intellifutsal-user
DB_PROD_PASSWORD=choose-a-strong-password
DB_PROD_NAME=intellifutsal-db
DB_PROD_TYPE=postgres

# Development environment (Locally)
DB_DEV_HOST=postgres
DB_DEV_PORT=5432
DB_DEV_USERNAME=sebasdosman
DB_DEV_PASSWORD=choose-a-dev-password
DB_DEV_NAME=intellifutsal_db
DB_DEV_TYPE=postgres

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=noreply.intellifutsal@gmail.com
SMTP_PASSWORD=your-smtp-app-password
SMTP_FROM=noreply.intellifutsal@gmail.com

# SendGrid
SENDGRID_API_KEY=your-sendgrid-api-key
SENDGRID_FROM_EMAIL=noreply.intellifutsal@gmail.com

# JWT
TOKEN_TYPE=Bearer
JWT_SECRET=generate-a-long-random-hex-string   # e.g. openssl rand -hex 128
JWT_EXPIRATION=24h

# General
APP_PORT=9042

# Environment
NODE_ENV=production

# Migrations
RUN_MIGRATIONS=true

# AI API URL
AI_API_URL=http://flask-backend:9041/api


# --> Environment variables for React app <--
# API URL
VITE_API_URL=/api/v1